

<div  class="container">
  <div class="col-md-7 col-md-offset-2 text-justify" >
    <p class="h1">Giới thiệu thành viên và trang web </p>
    <p>Chúng tôi là nhóm 5 sinh viên dầy nhiệt huyết và sức trẻ đến từ trường đại học Hà Nội - một trong những trường hàng đầu Việt Nam về đào tạo ngoại ngữ và chuyên ngành liên quan tới ngoại ngữ. </p><br>
    <p><strong>Thị Dung</strong></p>
    <p>Một trong hai cô gái của nhóm đồng thời giữ chức vụ nhóm trưởng. Dung được xem như là em út của nhóm vì thân hình nhỏ bé nhưng ẩn sau thân hình ấy là một con tim đầy nhiệt huyết và sự dũng cảm. Trong tương lai Dung muốn trở thành một chuyên gia trong lĩnh vực công nghệ phần mềm. </p><br>
    <p><strong>Việt Anh</strong></p>
    <p>Sinh ra tại thủ đô Hà Nội - Việt Nam, hiện đang là sinh viên năm cuối khoa công nghệ thông tin trường đại học Hà Nội. Yêu thích việc lập trình và hướng tới trong tương lai của anh là trở thành một lập trình viên phần mềm bằng ngôn  ngữ C#, Java,.. </p><br>
    <p><strong>Khương Duy</strong></p>
    <p>Xa xôi là từ luôn được dùng để miêu tả thành viên này. Duy sinh ra và lớn lên tại thành phố Cam Ranh tỉnh Khánh Hòa - một địa danh vô cùng nổi tiếng ở miền Trung Nam Việt Nam. Có niềm đam mê đặc biệt với ngoại ngữ đặc biệt là tiếng Anh. Mong muốn làm việc trong môi trường sử dụng kiến thức chuyên ngành công nghệ thông tin cùng với ngoại ngữ là thế mạnh. </p><br>
    <p><strong>Trung Đức</strong></p>
    <p>Giống như Việt Anh, Đức sinh ra và lớn lên tại Hà Nội. Có niềm đam mê đặc biệt đối với ẩm thực thế giới và Việt Nam. Yêu thích công việc liên quan tới truyền thông đa phương tiện. Ước mơ của Đức là dùng những gì mình đã học để phát triển nền ẩm thực nước nhà nhờ vào sức mạnh của công nghệ và thông tin. </p><br>
    <p><strong>Lan Hương</strong></p>
    <p>Thành viên nữ thứ hai và cũng là cuối cùng của nhóm. Đến từ miền quê lúa Thái Bình, cô bạn là một người năng động hoạt bát và đặc biệt yêu thích rock. Được mọi người gọi là Voi vì tính tình chân chất và mộc mạc. Mong muốn của cô là trở thành một kỹ sư cầu nối giỏi. </p><br>
    <p>Sứ mệnh của chúng tôi đã được thể hiện đầy đủ trên trang web này; đó là: cung cấp một cái nhìn toàn diện về hội họa nói riêng và mỹ thuật thế giới nói chung thông qua thông tin về các tác phẩm hội họa nổi danh có đóng góp lớn thuộc về nhiều thời kì. Nội dung website được gói gọn trong ba thời kì lớn của mỹ thuật thế giới là Phục hưng, Cận đại và Hiện đại. Người xem có thể chọn từng tác phẩm để xem hoặc sử dụng chức năng tìm kiếm để rút ngắn quá trình.</p><br>
    <p>Đến với trang web của chúng tôi, người xem sẽ được chứng kiến sự phát triển huy hoàng của hội họa thế giới qua những tác phẩm vĩ đại nhất mọi thời đại như Tiếng thét của Van Gốc hay Nàng Mona Lisa của Lê ô na Da vin ci. Bên cạnh đó, chúng tôi cũng không giới hạn người xem bởi những tác phẩm trong một quốc gia mà là toàn bộ hệ thống các tác phẩm trên phạm vi toàn thế giới ngay cả ở Việt Nam như Phố cổ Hà Nội của họa sĩ huyền thoại mỹ thuật Việt Nam Bùi Xuân Phái. Tuy nhiên, điều đó không có nghĩa là chúng tôi đã bỏ qua những tác phẩm ít nổi tiếng. Bạn có thể cảm thấy thoải mái khi đọc về những tác phẩm hội họa không được quá nhiều người biết tới nhưng đóng góp của chúng trong nền mỹ thuật thế giới là vô cùng to lớn. Người xem sẽ được cung cấp một cái nhìn bao quát không chỉ về nội dung, chất liệu, chủ đề, niên đại, kích thước... của tác phẩm mà còn những nét đặc trưng của thời kì mà tác phẩm đó thuộc về cộng với thông tin về tác giả đã tạo ra tác phẩm được lồng ghép một cách khéo léo vào phần mô tả của tác phẩm. Với một cơ sở dữ liệu vô cùng đồ sộ chúng tôi tin rằng website này sẽ là một địa chỉ đáng tin cậy và có ích cho tất các bạn những người có nhu cầu tìm hiểu và có niềm đam mê yêu thích với hội họa thế giới nói chung và hội họa Việt Nam nói riêng.</p><br>
    <p>Tất cả các chi tiết liên quan tới các tác phẩm cũng như nghệ sĩ và thời đại đã được lấy từ nhiều nguồn như Internet, sách báo, bảo tàng, các viện trưng bày trong nước và trên toàn thế giới. Để làm được điều này chúng tôi đã bỏ ra rất nhiều công sức để sưu tầm và kiểm chứng thông tin từ các chuyên gia và nhân vật có liên quan để rồi  website này chính là kết quả vô cùng xứng đáng mà chúng tôi đã đạt được. </p><br>
    <p><strong>Hy vọng những cố gắng nỗ lực của chúng tôi sẽ được đền đáp. Hãy chiêm ngưỡng và tận hưởng sự vĩ đại của hội họa thế giới. </strong></p><br>
  </div><!--/.col-sm-6-->


  <div class="col-md-8 col-md-offset-2" >
    <div>
      <p class="h2 text-center" >Các thành viên</p>
    </div>
    <div  class="row">
      <div class="col-xs-6 col-md-4">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src=<%=image_path("DungNT.PNG") %> alt="" ></p>
          <h5>Trịnh Khương Duy <small class="designation muted">Member</small></h5>
          <p>SDT: 01667484004 </p>
          <p>Email: trinhkhuongduy@gmail.com </p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>

      <div class="col-xs-6 col-md-4">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src=<%=image_path("DungNT.PNG") %>  alt="" ></p>
          <h5>Trần Việt Anh  <small class="designation muted">Member</small></h5>
          <p>SDT:092819283 </p>
          <p></p>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src=<%=image_path("DungNT.PNG") %> alt="" ></p>
          <h5>Nguyễn Trung Đức <small class="designation muted">Member</small></h5>
          <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor.</p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-offset-0">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src=<%=image_path("DungNT.PNG") %> alt="" ></p> <br>
          <h5>Nguyễn Thị Dung  <small class="designation muted">Leader</small></h5>
          <p>SDT: 01667484004 </p>
          <p>Email: <a href="mailto: dungnt@gmail.com" target="top"> dungnt@gmail.com</a> </p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-4">
        <div class="center">
          <p><img class="img-responsive img-thumbnail img-circle" src=<%=image_path("DungNT.PNG") %> alt="" ></p>
          <h5>Nguyễn Thị Lan Hương  <small class="designation muted">Member</small></h5>
          <p>SDT: 0984211824 </p>
          <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
        </div>
      </div>
    </div><!--/#meet-the-team-->
  </div>
  <div id="contact" class="col-md-8 col-md-offset-2">
    <p class="h2">Liên hệ với chúng tôi: </p><br>
    <p class="h4">Lớp 1C11 Khoa Công Nghệ Thông Tin, ĐH Hà Nội
      <br><br>Km9 Nguyễn Trãi, Thanh Xuân, Hà Nội
      <br><br>Email: <a href="mailto: DHAplus@gmail.com" target="top"> DHAplus@gmail.com</a></p>
  </div>
</div><!--/#about-us-->
</div><!--/#about-us-->