
<div class="container">
  <br>
  <div class="center">
    <div class="col-md-4 col-lg-offset-1">
      <img class="img-circle" src=<%=image_path(@phuc_hung.image)%> alt="Genericplaceholderimage" style="width: 140px; height: 140px;">
      <br>
      <h1>Phục hưng</h1>
      <br>
      <p class="text-justify">Phục Hưng -tiếng Pháp: Renaissance, Phát âm tiếng Pháp: [ʁənɛsɑ̃ːs,]trong tiếng Ý: Rinascimento, có nghĩa là được sinh ra lần nữa). Phong cách sáng tác nghệ thuật thời kì phục hưng là một phong trào văn hóa bao phủ giai đoạn từ thế kỷ 14 đến thế kỷ 17, khởi đầu tại Firenze (Ý)vào Hậu kỳ Trung Đại, sau đó lan rộng ra phần còn lại của châu Âu ở những quy mô và mức độ khác nhau.Phục Hưng đã tác động sâu sắc tới đời sống trí thức châu Âu trong thời sơ kỳ hiện đại.</p>
      <br>
      <%= button_to "Thông tin chi tiết » ",home_phuchung_path, :method => "get" %>
    </div><!-- /.col-lg-4 -->
    <div class="col-md-4 col-md-offset-2">
      <img class="img-circle" src=<%=image_path(@duong_dai.image)%> alt="Genericplaceholderimage" style="width: 140px; height: 140px;">
      <br>
      <h1>Đương đại</h1>
      <br>
      <p class="text-justify">Khái niệm thời đương đại dùng để chỉ khoảng thời gian trong lịch sử nhân loại mà có sự chuyển biến sâu sắc và vô cùng mạnh mẽ trong hầu hết tất cả các lĩnh vục như khoa học, công nghệ, văn hóa, điêu khắc kiến trúc, hội họa và cả chính trị.Trong khoảng thời gian cuối thế kỉ 19 và đầu thế kỉ 20, sự thay đổi mà chủ nghĩa hiện đại mang lại không những ảnh hưởng sâu sắc tới tất cả các lĩnh vực ở châu Âu và châu Mỹ mà còn trên phạm vi toàn cầu bao gồm cả châu Á. </p>
      <br>
      <%= button_to "Thông tin chi tiết » ",home_duongdai_path, :method => "get" %>
    </div><!-- /.col-lg-4 -->
  </div>

  <div class="col-md-8 col-md-offset-2">

    <div class="panel-body">

      <hr class="featurette-divider">
      <div class="page-header">
        <p class="h1">Thời kỳ cận đại: </p>
        <p class="text-justify">"Khái niệm “thời cận đại” thường được dùng để chỉ khoảng thời gian trong lịch sử Âu châu khoảng cuối thế kỷ 18 đến đầu thế kỷ 20). Tuỳ theo cách nhìn, thời cận đại lại được chia ra thành những thời kỳ nhỏ:  thời kỳ quân chủ chuyên chế (hay thời kỳ Barock) và đi liền với nó là thời kỳ Khai minh hay thế kỷ Ánh sáng (khoảng 1650 – 1789); đại cách mạng Pháp (1789 – 1815).Nhiều tác phẩm mỹ thuật nổi tiếng trong lịch sử nhân loại được trưng bày trong các bảo tàng lớn được ra đời trong khoảng thời gian này</p>
           <br>
           <br>
        <p class="h3"><strong>Hội họa</strong></p>
        <p>Hội họa phương Tây đóng góp một lượng rất lớn các tác phẩm nổi tiếng và được chia thành các trường phái khác nhau, mỗi trường phái đều có nét độc đáo và đặc điểm riêng, một số trường phái nổi bật như: </p><br>
        <div class="text-justify">
          <p><strong>Trường phái Ấn tượng (Ấn tượng mặt trời mọc...):</strong> Nói chung, trường phái Ấn tượng chống lại phương pháp đào tạo theo kiểu Hàn lâm ở những trường Mỹ thuật thời đó. Họ cũng chống lại những nguyên tắc cơ bản của hội hoạ lãng mạn, nhấn mạnh: Mục tiêu chủ yếu của truyền đạt nghệ thuật là truyền đạt xung động cảm giác của nghệ sĩ, còn việc ghi nhận thiên nhiên chỉ là thứ yếu. Do chống lại quan niệm nầy, họ thường có cảm tình với trường phái Hiện thực, khi cho rằng: “Trạng thái cảm xúc của nhà nghệ sĩ chỉ là thứ yếu; mục tiêu chính yếu là “ghi nhận một phần thiên nhiên hay cuộc sống, với tinh thần khách quan và khoa học”.Họ gạt bỏ nghệ thuật tưởng tượng, trong đó có đề tài lịch sử vì đó là chuyện quá khứ, chú trọng nhiều đến sự ghi nhận khách quan kinh nghiệm đương đại và thực tiễn. Tuy nhiên, quan điểm của họ khác hẳn với quan điểm của trường phái Hiện thực xã hội. Mục tiêu của họ không phải là cải tại xã hội; họ thấy không xứng đáng gì khi thể hiện sự dung tục và xấu xa, mà khuynh hướng xã hội nầy thích phơi bày để tuyên truyền chính trị.</p>   <br>
          <p><strong>Trường phái Biểu hiện:</strong> Trường phái Biểu hiện hay Phong cách Biểu hiện là một thuật ngữ về lịch sử nghệ thuật hay phê bình, dùng để chỉ nghệ thuật trong đó, những tư tưởng có tính truyền thống theo chủ nghĩa Tự nhiên bị gạt bỏ, thay vào đó là cách thể hiện theo cảm xúc riêng của từng tác giả. Kế thừa và phát triển mỹ học của Kant, chủ nghĩa Biểu hiện trở thành một khuynh hướng mỹ học và lý luận nghệ thuật tiêu biểu khởi đầu cho thế kỷ XX, bao gồm những tên tuổi của các học giả Anh: Robin George Collingwood, Bernard Bosanquet, Edgar Curritt, nhưng tiêu biểu hơn hết là học giả người Ý, Benedetto Croce.</p>   <br>
          <p><strong>Trường phái Biểu tượng:</strong> Ở vùng Bắc Âu, sự tán dương màu sắc của các hoạ sĩ Dã thú đạt tới những mức độ cảm xúc và tâm lý mới. Đó là chủ nghĩa Biểu tượng. Trường phái nầy phát triển ở nhiều nước, nhất là ở Đức, bắt đầu năm 1905. Đặc điểm của trường phái nầy là sự nhấn mạnh ở tính cách trừu tượng của màu sắc và hiệu quả hình thể. Trường phái nầy lấy cảm hứng ở những khía cạnh đen tối nhất trong tâm lý con người. Từ chủ nghĩa Biểu tượng trong văn học nghệ thuật, có thể áp dụng những hình thức nghệ thuật khác nhau, nhưng theo nghĩa rộng nhất, nó chỉ bất cứ nghệ thuật nào xem trọng cảm giác chủ quan hơn sự quan sát khách quan. Vì lẽ nầy, nghệ sĩ tìm cách ghi lại những trạng thái tâm hồn của mình, những diễn tiến nội tâm hơn là thực tiễn của ngoại giới.</p>   <br>
          <p><strong>Trường phái Đa đa:</strong> Ða đa là một phong trào văn học nghệ thuật (nhất là hội hoạ) phản kháng dữ dội của các nghệ sĩ và các nhà văn Âu Mỹ, chống lại sự tự mãn, trong đó, những sức mạnh sáng tạo nghệ thuật được hướng vào việc chống lại nghệ thuật. Phong trào nầy sinh ra do tâm trạng vỡ mộng vì ảnh hưởng của Ðại chiến thế giới lần thứ nhất, mà một số nghệ sĩ thuộc nhiều khuynh hướng khác nhau đã phản ứng lại một cách mỉa mai, cay độc, thậm chí với những tư tưởng vô chính phủ nữa. Qua những thể hiện của họ, cái phi lý và tư tưởng phản kháng là hai điểm nổi bật nhất.</p>   <br>
        </div>
      </div>
    </div>
  </div>


  <!-- START THE FEATURETTES -->


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Người đàn bà và con chồn <span class="text-muted"><br>Leonardo Da Vinci</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img  src=<%=image_path("images/Vangogh.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img src=src=<%=image_path("images/StarryNight.jpg")%> class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted"><br>See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Thiếu nữ bên hoa huệ <span class="text-muted"><br>Tô Ngọc Vân</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img src=src=<%=image_path("images/thieu_nu_ben_hoa_hue.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img src=src=<%=image_path("images/StarryNight.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted"><br>See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Người đàn bà và con chồn <span class="text-muted"><br>Leonardo Da Vinci</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img  src=<%=image_path("images/Vangogh.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <!-- /END THE FEATURETTES -->
  <!--/Link to new image-->
  <div class="pagination pagination-centered">
    <ul class="pager">
      <li><a href="#">Prev</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">Next</a></li>

    </ul>

  </div>
</div>

