<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <div class="panel-body">
      <div class="page-header">
        <p class="h1">Thời kỳ cận đại: </p>

        <p class="text-justify">Khái niệm “thời cận đại” thường được dùng để chỉ khoảng thời gian trong lịch sử Âu châu khoảng cuối thế kỷ 18 đến đầu thế kỷ 20). Tuỳ theo cách nhìn, thời cận đại lại được chia ra thành những thời kỳ nhỏ:  thời kỳ quân chủ chuyên chế (hay thời kỳ Barock) và đi liền với nó là thời kỳ Khai minh hay thế kỷ Ánh sáng (khoảng 1650 – 1789); đại cách mạng Pháp (1789 – 1815).
          Nhiều tác phẩm mỹ thuật nổi tiếng trong lịch sử nhân loại được trưng bày trong các bảo tàng lớn được ra đời trong khoảng thời gian này.</p>
          <br><br>
        <p class="h3"><strong>Hội họa</strong></p>
        <p>Hội họa phương Tây đóng góp một lượng rất lớn các tác phẩm nổi tiếng và được chia thành các trường phái khác nhau, mỗi trường phái đều có nét độc đáo và đặc điểm riêng, điển hình như:</p>
        <br>
        <p class="text-justify"><strong>  Trường phái Ấn tượng (Ấn tượng mặt trời mọc...)</strong> Trường phái ấn tượng hình thành từ Paris hiện đại. Đó là chất xúc tác, là nơi xuất phát và là chủ đề của trường phái ấn tượng. Trong thập niên 1850, Paris vẫn còn là một thành phố thời Trung cổ với những con đường quanh co, nhỏ hẹp, thiếu vệ sinh và thiếu cả ánh sáng. Vào khoảng thập niên 1870, thời hoàng kim của trường phái ấn tượng, thành phố cũ già nua này đã bị phá bỏ thành bình địa để từ đó xây dựng lại một thủ đô với những đại lộ dài, với hàng dãy tiệm cà phê, nhà hàng, và nhà hát.Những bức tranh thuộc trường phái ấn tượng được vẽ bằng những nét cọ có thể nhìn thấy được, sự pha trộn không hạn chế giữa các màu với nhau và nhấn mạnh đến sự thay đổi và chất lượng của độ sáng trong tranh.Hai ý tưởng đáng chú ý trong trường phái này là: Bức tranh được vẽ rất nhanh với mục đích là ghi lại một cách chính xác tổng quan của khung cảnh.Tiếp theo sau là thể hiện một cái nhìn mới,nhanh và không định kiến; khác với trường phái hiện thực,tự nhiên.</p>
        <br>
        <p class="text-justify"><strong>  Trường phái Hậu Ấn tượng: </strong>Hậu ấn tượng là tên gọi chung để chỉ tới những nghệ sĩ thuộc thời kỳ sau trường phái ấn tượng. Trường phái ấn tượng là một bước ngoặt trong hội họa, rũ bỏ những quan niệm từng tồn tại rất nhiều năm ở châu Âu. Từ sau ấn tượng, nhiều nghệ sĩ độc lập tìm tòi sáng tạo và đi theo các hướng khác nhau. Mặc dù họ không có phong cách sáng tác giống nhau, nhưng được gọi chung là hậu ấn tượng</p>
        <br>
        <p class="text-justify"><strong>   Trường phái Biểu hiện: </strong>Năm 1907 họa sĩ Na Uy Edvard Munch viết, "Một công trình nghệ thuật chỉ có thể đến từ nội tâm con người". Đây có thể là khẩu hiệu của trường phái Biểu hiện, một trào lưu nghệ thuật vào đầu thế kỷ hai mươi, đặc trưng bởi tính táo bạo, xuyên tạc và phóng đại, trong đó, theo họa sĩ Oskar Kokoschka, "hình ảnh biểu hiện tâm hồn".Trường phái Biểu hiện đặc biệt mạnh mẽ ở Đức, Áo, và thậm chí trở nên u ám hơn sau Thế Chiến thứ Nhất, có thể thấy được trong các viễn cảnh ác mộng của Max Beckmann và những châm biếm sâu cay của George Grosz. Trường phái Biểu hiện còn truyền sang các loại hình nghệ thuật khác - chẳng hạn âm nhạc thời kỳ đầu của Schoenberg, những vở kịch của Strindberg và Wedekind, cũng như phim câm của Đức. Một ví dụ phim câm nổi tiếng là Phòng mạch của Bác sĩ Caligari vào năm 1919 của Robert Weine, trong đó các góc độ dàn cảnh điên dại, những tương phản sáng tối dữ dội, và sự chú trọng vào các trạng thái của xúc cảm và điên loạn cao độ đều là những điển hình của trào lưu Biểu hiện.</p>
        <br>
        <p class="text-justify"><strong>   Trường phái Biểu tượng: </strong>Ở vùng Bắc Âu, sự tán dương màu sắc của các hoạ sĩ Dã thú đạt tới những mức độ cảm xúc và tâm lý mới. Đó là chủ nghĩa Biểu tượng. Trường phái nầy phát triển ở nhiều nước, nhất là ở Đức, bắt đầu năm 1905. Đặc điểm của trường phái nầy là sự nhấn mạnh ở tính cách trừu tượng của màu sắc và hiệu quả hình thể. Trường phái nầy lấy cảm hứng ở những khía cạnh đen tối nhất trong tâm lý con người. Từ chủ nghĩa Biểu tượng trong văn học nghệ thuật, có thể áp dụng những hình thức nghệ thuật khác nhau, nhưng theo nghĩa rộng nhất, nó chỉ bất cứ nghệ thuật nào xem trọng cảm giác chủ quan hơn sự quan sát khách quan. Vì lẽ nầy, nghệ sĩ tìm cách ghi lại những trạng thái tâm hồn của mình, những diễn tiến nội tâm hơn là thực tiễn của ngoại giới.</p>
        <br>
        <p class="text-justify"><strong> Trường phái Đa đa: </strong>Thế giới của nghệ thuật Đađa đòi hỏi cái bình quyền, phá vỡ gông cùm, bôi bác và đấu tranh một sự lý thật xứng đáng và yêu mến đúng danh xưng, mãi mãi dài lâu và tạo một vóc dáng có tầm cở của trí tuệ hiểu biết. 1918 Tristan Tzara  tóm tắt với một tinh thần trong bản tuyên ngôn của Đađa, ông nói: 'khai mở cho một bản tuyên ngôn thì bạn phải cần có: A,B và C và chống lại như xua đuổi 1,2 &3 và làm nên tự chính bạn và đôi cánh bạn nhấc lên cao để chinh phục...tôi viết, tôi nói, tôi chống những giáo điều. tôi viết là phơi bày, tỏ một hành động...và tôi không còn giải thích cho chính tôi bởi vì tôi ghét những cảm nhận chung chung  - I am neither for nor against them, and I  won't explain myself because I hate common sense. Đađa không có nghĩa gì cả.  - DaDa does not mean anything'. Đađa hoàn toàn vô nghĩa, có nghĩa rằng không có một khiá cạnh nào để giải thích nó là vô nghĩa (meaningless) nghĩa là khác với cái vô nghĩa (nonsense). Đađa không có nghĩa là lẽ tự nhiên như thế và chống luôn cả nghệ thuật. Đađa trực nhận tự nhiên . Đađa là vô cực nghĩa (infinite meaning) và xác định vô hạn nghĩa (definite mean).</p>

      </div>
    </div>
  </div>


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Người đàn bà và con chồn <span class="text-muted"><br>Leonardo Da Vinci</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img  src=<%=image_path("images/Vangogh.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img src=src=<%=image_path("images/StarryNight.jpg")%> class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted"><br>See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Thiếu nữ bên hoa huệ <span class="text-muted"><br>Tô Ngọc Vân</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img src=src=<%=image_path("images/thieu_nu_ben_hoa_hue.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img src=src=<%=image_path("images/StarryNight.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted"><br>See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Người đàn bà và con chồn <span class="text-muted"><br>Leonardo Da Vinci</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img  src=<%=image_path("images/Vangogh.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <p><a class="btn btn-default" href="#" role="button"><strong>Xem thêm »</strong></a></p>
  <!-- /END THE FEATURETTES -->
</div>

