<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <div class="panel-body">
      <div class="page-header">
        <p class="h1">Thời kỳ phục hưng: </p>
        <p class="text-justify">"Phục Hưng (tiếng Pháp: Renaissance, Phát âm tiếng Pháp: [ʁənɛsɑ̃ːs], tiếng Ý: Rinascimento, từ ri- ""lần nữa"" và nascere ""được sinh ra"")
          <br>Là một phong trào văn hóa thường được xem là bao phủ giai đoạn từ thế kỷ 14 đến thế kỷ 17, khởi đầu tại Firenze (Ý) vào Hậu kỳ Trung Đại, sau đó lan rộng ra phần còn lại của châu Âu ở những quy mô và mức độ khác nhau

          <br><br>Phục Hưng đã tác động sâu sắc tới đời sống trí thức châu Âu trong thời sơ kỳ hiện đại. Bắt đầu ở Ý, lan ra khắp châu Âu vào thế kỉ 16, ảnh hưởng của nó hiện diện trong văn học, triết học, mĩ thuật, âm nhạc, chính trị, khoa học, tôn giáo, và các khía cạnh khác của đời sống tinh thần

          <br><br><p class="h3"><strong>Hội họa</strong></p>
        <p class="text-justify">Một trong những đặc điểm phân biệt của mỹ thuật thời kỳ Phục Hưng là sự phát triển phép phối cảnh tuyến tính có tính hiện thực cao. Giotto di Bondone (1267-1337), được coi là người đầu tiên thực hiện một tác phẩm bích họa như là một cánh cửa sổ để bước vào không gian, nhưng tác phẩm của ông đã không gây được nhiều ảnh hưởng cho đến tận thời của Filippo Brunelleschi (1377–1446) và những tác phẩm tiếp theo của Leon Battista Alberti (1404-1472), quan điểm này được chính thức hóa thành một kỹ xảo nghệ thuật.
          <br><br>Sự phát triển của quan điểm này là một phần của một xu hướng rộng lớn hơn đối với chủ nghĩa hiện thực trong nghệ thuật[49], đạt đến độ trưởng thành kể từ tranh tường của Masaccio (1401-1428). Để đạt được điều đó, các họa sĩ đã phải phát triển các kỹ thuật khác nhau, nghiên cứu mảng sáng-tối, nổi tiếng nhất trong số đó là trường hợp giải phẫu người của Leonardo da Vinci.
          Đằng sau những thay đổi trong phương pháp nghệ thuật, là một khao khát được làm mới lại muốn miêu tả vẻ đẹp của thiên nhiên, và làm sáng tỏ các tiên đề thẩm mỹ, với các tác phẩm đi đầu của Leonardo, Michelangelo và Raffaello đã đại diện cho đỉnh cao của thuật và đã được nhiều nhiều họa sỹ khác học hỏi. Những nhân vật đáng chú ý khác bao gồm Sandro Botticelli, làm việc cho gia tộc Medici ở Firenze, một người Firenze khác là Donatello và Tiziano Vecelli ở Venezia, cùng nhiều người khác
          "</p>
      </div>
    </div>
  </div>


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Người đàn bà và con chồn <span class="text-muted"><br>Leonardo Da Vinci</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img  src=<%=image_path("images/Vangogh.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img src=src=<%=image_path("images/StarryNight.jpg")%> class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted"><br>See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Thiếu nữ bên hoa huệ <span class="text-muted"><br>Tô Ngọc Vân</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img src=src=<%=image_path("images/thieu_nu_ben_hoa_hue.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <img src=src=<%=image_path("images/StarryNight.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
    <div class="col-md-7">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted"><br>See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Người đàn bà và con chồn <span class="text-muted"><br>Leonardo Da Vinci</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor
        fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus,
        tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img  src=<%=image_path("images/Vangogh.jpg")%> class="featurette-imageimg-responsive" data-src="holder.js/500x500/auto" alt="500x500">
    </div>
  </div>

  <hr class="featurette-divider">

  <p><a class="btn btn-default" href="#" role="button"><strong>Xem thêm »</strong></a></p>
  <!-- /END THE FEATURETTES -->
</div>

