<!--featurettes-->
<div class="container"  style="background-color: #ffffff">
  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="page-header">
            <h2><%=@article.name%> - Thời kì <%=@article.category%> <small>Post created at <%=@article.created_at%></small></h2>
          </div>

          <img class="featureImg" src=<%= @article.image%>>
          <p class="text-center"><strong> Tác phẩm "<%=@article.name %>" của tác giả <%=@article.author%> </strong>  </p>
          <p class="text-justify"><%=@article.content.html_safe%><p>

        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="list-group">
        <% @list_arts.each do |art|%>

            <!--<a href="#" class="list-group-item">-->
              <div class="list-group-item">
              <h4 class="lust-group-item-heading"><%=link_to art.name, home_single_path(art.id) %></h4>
              <p class="lust-group-item-text"> <%=art.author%></p>
              </div>
            <!--</a>-->
        <% end %>

      </div>
    </div>
  </div>
</div>
